.btn {
  font-family: 'SalesforceSans-Bold';
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  &.btn-white {
    background: #fff;
    border-radius: 100px;
    color: #0077b9;
    font-size: 1.5vw;
    padding: 1.8vw 4vw;

    &:active {
      opacity: 0.8;
    }
  }

}